html {
	margin: 0px;
	padding: 0px;
}
.body{
	background: url ("header.jpg");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,#greyscale");
  filter: gray;
  opacity: 0.5;
}

.boxlogin {
	border-radius: 4px;
	box-shadow: 0px 2px 10px #d6d6d6;
	margin: 20px auto;
	margin-top: 8px;
	width: 340px;
	height:250px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}
.pepito {
	background-color: #d6d6d6;
}
.noticias {
	margin-top: 100px;
	margin-left: 790px;
}

